@import '../../styles/variables.scss';

.nav-item {
    width: 50%;
  }
  
.nav-link {
    text-align: center;
  }


.item {
  input[disabled] {
    background-color: $background-color;
    border: none;
    pointer-events: none;
    outline: none;
  }
  
  input[disabled]:hover {
    cursor: default; 
  }
}