$primary-color: #343a40;
$hover-color: lighten($primary-color, 10%);
$background-color: #212529;
$text-color: #d003448c;
$text-hover-color: #ffffff;
$border-color: #eeeedd;
$error-color: rgba(200, 20, 50, .4);