<nav class="align-items-center navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="" src="logo-small.png" alt="Headspace logo's"></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="row collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Avaliação de livros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Loja de livros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
        </ul>
        
        <div class="d-flex" id="btns">
          <button class="btn btn-light me-2" (click)="showComponent('Login')" type="button">Login</button>

          <button class="btn btn-dark" type="button">Registrar</button>
        </div>
      </div>
    </div>
  </nav>
  