<div *ngIf="errorCode && errorMessage" class="error">
  <ng-container [ngSwitch]="errorCode">
    <div *ngSwitchCase="404">
      {{ errorMessage }}
      <span class="link" (click)="navigateToRegister()">Registrar-se</span>.
    </div>
    
    <div *ngSwitchCase="409">
      {{ errorMessage }}
      <span class="link" (click)="navigateToLogin()">Login</span>.
    </div>

    <div *ngSwitchCase="401">
      {{ errorMessage }}
      <span *ngIf="attemptsLeft > 0" class="count">
        Left: {{ attemptsLeft }}
      </span>
      <span *ngIf="attemptsLeft === 0" class="lockout">
        Blocked. Verify your e-mail
      </span>
    </div>    

    <div *ngSwitchDefault>
      {{ errorMessage }}
    </div>
  </ng-container>
</div>
