<div class="container mt-5">
    <form class="login-form p-2 rounded shadow" (ngSubmit)="onRegister()" #loginForm="ngForm">
      <h2 class="mb-3 text-center">Registro</h2>
  
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Digite seu e-mail"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Digite sua senha"
          required
        />
      </div>
  
      <app-auth-error></app-auth-error>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Registrar</button>
      </div>
    </form>
  </div>
  