* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: unset;
}

body {
    max-width: 100vb;
    background-color: black;
    font-family: 'Titillium Web', sans-serif;
}