@import '../../styles/variables.scss';

.error-container {
    color: $text-color;
    align-items: center;
    border: 1px solid $border-color;

    .icon{
        font-size: 2em;
    }

    p{
        font-size: 1.5em;
    }
}

@media (min-width: 769px) {
    .error-container {
        text-align: center;
        border: none;
    }   
}